@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>

<style>
    table {
        width: 300px;
        padding:0px;
        border-collapse: collapse;
        margin:auto;
    }

    td,
    th {
        border: 1px solid #ddd;
        padding: 6px 6px 6px 12px;
        color: #4f6b72;
        text-align: center;
    }

    th {
        background: #d3d3d3;

    }
    p{
      margin:10px;
    }
</style>

<div class="text-center">
    <h1 id="myHeaaa" class="display-3">潘連進溫室環控系統</h1>
    <p id="ConnectStat">連線中....</p>
    <p id="SensorTable"></p>
</div>

  
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

